<html>
  <head></head>
  <body>
    <h1>{{ title }}</h1>
    {% if showTweets %}
    <ul>
    {% for tweet in tweets %}
        <li>{{ tweet }}</li>
    {% endfor %}
    </ul>
    {% endif %}
  </body>
</html>